<div local-class="{{header}}">
  {{#if (eq header "header")}}
    <div local-class="details">
      <h1 local-class="name">
        Shane O'Neill
      </h1>
      <h2 local-class="title">
        Software Developer
      </h2>
    </div>
  {{/if}}
  <div local-class="nav-bar">
    {{#link-to 'home'
      class=(local-class "nav-item")
      activeClass=(local-class "active")}}
      Home
    {{/link-to}}
    {{#link-to 'experience'
      class=(local-class "nav-item")
      activeClass=(local-class "active")}}
      Experience
    {{/link-to}}
    {{#link-to 'contact'
      class=(local-class "nav-item")
      activeClass=(local-class "active")}}
      Contact
    {{/link-to}}
  </div>
</div>
