html {
  overflow: scroll;
  /* height: 100%; */
}

body {
  margin: 0;
  font-family: Helvetica;
  height: 100%;
}

/* =========================================HEADER================================== */

.header {
  position: absolute;
  width: 100%;
  background-color: #6a8ec8;
  height: 140px;
  padding: 0;
  margin-bottom: 5px;
  box-shadow: 0px 5px 4px -5px rgba(0,0,0,0.75);
  z-index: 1;
  letter-spacing: 1px;
}

.header.mobile {
  height: 100px;
}

.sticky {
  width: 100%;
  position: fixed;
  background-color: #6a8ec8;
  height: 30px;
  padding: 0;
  margin-bottom: 50px;
  box-shadow: 0px 5px 4px -5px rgba(0,0,0,0.75);
  z-index: 999;
  letter-spacing: 1px;
}

.sticky.mobile {
  height: 30px;
}

.header-content {
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 1px;
}

.header-content.mobile {
  height: 70px;
}

.header-img {
  width: 220px;
  margin-bottom: 15px;
}

.header-img.mobile {
  width: 160px;
}

.header-sub-img {
  width: 200px;
}

.header-sub-img.mobile {
  width: 180px;
}

/* ===========================================NAVBAR============================== */

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  /* background-color: #7d9ccf; */
}

.nav-item {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 110px;
  text-decoration: none;
  color: #f7f1f0;
  border-radius: 2px;
  border-right: 1px solid #7d9ccf;
}

.nav-item.mobile {
  width: 33%;
}

.active {

}

.disabled {
  display: none;
}

.nav-item:hover {
  background-color: #5780c1;
}

.nav-item-text {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-item-text.mobile {
  font-size: 14px;
}

.nav-item-bracket {
  font-size: 14px;
  color: #f58e8e;
  font-weight: 800;
  margin-left: 3px;
  margin-right: 3px;
}

.nav-item-bracket.mobile {
  font-size: 12px;
}

/* ==========================================BODY================================ */

.body {
  overflow-x: hidden;
  background-color: #fffcf7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 140px;
  height: 100%;
}

.content.mobile {
  margin-top: 100px;
}

/* ============================================ABOUT============================= */

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: calc(100vh - 140px);
  margin-bottom: 10px;
}

.about-container.mobile {
  height: calc(100vh - 100px);
}

.about-tiles {
  display: flex;
  flex-direction: row;
  height: 40%;
  max-height: 200px;
  overflow: hidden;
}

.about-tiles.mobile {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100%;
  overflow: visible;
}

.about-tile-animated-container {

}

.about-tile-animated-container.mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 25%;
  width: 100%;
}

.about-tile {
  position: relative;
  height: 100%;
  width: 25%;
  box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);
  overflow: hidden;
  opacity: .9;
}

.about-tile.mobile {
  height: 100%;
  width: 95%;
  box-shadow: 1px 2px 10px -4px rgba(0,0,0,0.75);
  border-radius: 3px;
  margin-top: 10px;
}

.about-tile:hover {
  transform: scale(1.03);
  opacity: 1;
}

.about-tile-title {
  text-align: center;
  position: absolute;
  top: 50%;
  right: 28%;
  color: #330b08;
  letter-spacing: 2px;
  width: 100px;
  font-weight: 600;
}

.about-tile-img-text-1 {
  text-align: center;
  position: absolute;
  top: 19%;
  right: 48%;
  width: 49%;
}

.about-tile-img-text-1.mobile {
  width: 180px;
  top: 50px;
  right: 160px;
}

.about-tile-img-text-2 {
  text-align: center;
  position: absolute;
  top: 20%;
  right: 45%;
  width: 54%;
}

.about-tile-img-text-2.mobile {
  width: 200px;
  top: 60px;
  right: 140px;
}

.about-tile-img-text-3 {
  text-align: center;
  position: absolute;
  top: 20%;
  right: 26%;
  width: 72%;
}

.about-tile-img-text-3.mobile {
  width: 260px;
  top: 60px;
  right: 80px;
}

.about-tile-img-text-4 {
  text-align: center;
  position: absolute;
  top: 20%;
  right: 43%;
  width: 54%;
}

.about-tile-img-text-4.mobile {
  width: 200px;
  top: 60px;
  right: 140px;
}

.about-tile-img-bg {
  height: 100%;
  width: 100%;
  background-color: #8faad6;
  object-fit: cover;
  object-position: 40% 50%;
}

.about-tile-img-bg.mobile {
}

.about-content-animated-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 60%;
  height: 60%;
}

.about-content-animated-container.mobile {
  width: 100%;
}

.about-content {
  margin-top: 20px;
  height: 90%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px -4px rgba(0,0,0,0.75);
  background-color: white;
  border-left: 1px solid #bababa;
  border-right: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
}

.about-content-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  background-color: #12336b;
  width: 100%;
}

.about-content-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.about-content.mobile {
  width: 80%;
  display: flex;
  justify-content: center;
  height: fit-content;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
  background-color: white;
}

.about-content-container {
  width: 100%;
}

.about-content-img {
  min-height: 200px;
  height: 200px;
  max-width: auto;
  border-radius: 5px;
  box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);
}

.about-content-img.mobile {
  height: 160px;
  width: 180px;
  border-radius: 5px;
  box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);
}

.about-content-text {
  max-width: 500px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-left: 20px;
  color: #454545;
}

.about-content-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #4287f5;
  color: white;
  height: 25px;
  padding: 3px;
  border: 1px solid #306cc9;
  text-align: center;
  border-radius: 3px;
  font-weight: 300;
  box-shadow: 0px 1px 7px -4px rgba(0,0,0,0.75);
  margin-top: 30px;
}

.about-content-link:hover {
  box-shadow: 0px 2px 9px -4px rgba(0,0,0,0.75);
  background-color: #eb6963;
}

.about-content-text.mobile {
  color: #827e7e;
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  margin-top: 10px;
  margin-left: 0;
}

/* ==============================================TECH================================ */

.tech-container {
  height: calc(100vh - 140px);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.thumbnail-container {
  height: 100px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15px;
}

.thumbnail-row.mobile {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

.thumbnail-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  border: 1px solid #fffcf7;
}

.thumbnail-item.mobile {
  height: 60px;
  width: 60px;
}

.thumbnail-item:hover {
  border: 1px solid #ACCEF7;
  border-radius: 5px;
  box-shadow: -3px 3px 9px -8px rgba(0,0,0,0.75);
}

.thumbnail-img {
}

.thumbnail-img.mobile {
  width: 60px;
  margin-left: 10px;
}

.slideshow {
  width: 70%;
  box-shadow: -2px 2px 9px -8px rgba(0,0,0,0.75);
}

.slideshow.mobile {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.slideshow-content {
  background-color: white;
  height: 400px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.slideshow-content.mobile {
  height: 200px;
  width: 100%;
}

.slideshow-container {
  display: flex;
  flex-direction: row;
}
.slideshow-container.mobile {
  display: flex;
  flex-direction: column;
}

.slideshow-heading {
  text-align: center;
  height: 40px;
  background-color: #403e3e;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.slideshow-heading.mobile {
  height: 30px;
  width: 100%;
}

.slideshow-details {
  display: flex;
  align-items: center;
  min-width: 20%;
  width: 20%;
  height: 400px;
  background-color: #fcfcfc;
  border-left: 1px solid #c0c1c2;
}

.slideshow-details-container {
  overflow: hidden;
}

.slideshow-details.mobile {
  width: 100%;
  max-height: 150px;
  border-top: 1px solid #c0c1c2;
  border-left: none;
  background-color: #fafafa;
}

.slideshow-details-text {
  font-size: 12px;
  color: #403e3e;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 20px;
}

.slideshow-title {
  font-size: 20px;
  color: #f7f2f2;
  font-weight: 400;
  margin: 0;
  margin-top: 11px;
}

.slideshow-title.mobile {
  font-size: 15px;
  margin-top: 8px;
}

.slideshow-img {
}

.slideshow-img.mobile {
  width: 200px;
}

/* ============================================CV================================= */

.cv-container {
  display: flex;
  flex-direction: row;
}

.cv-image-large {
  height: 950px;
  width: 750px;
  box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);
  margin-right: 20px;
}

.cv-image-small {
  height: 400px;
  width: 250px;
  box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);
}

/* ============================================CONTACT=========================== */

.links {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 400px;
  padding-right: 400px;
}

.links.mobile {
  flex-direction: column;
}

.link {
  display: flex;
  justify-content: center;
  width: 33%;
}

.link.mobile {
  width: 100%;
}

.github-icon {
  border-radius: 10px;
  height: 130px;
  width: 130px;
  transition: transform .2s;
}

.github-icon.mobile {
  height: 80px;
  width: 80px;
}

.linkedin-icon {
  margin-left: 10px;
  height: 140px;
  width: 140px;
  transition: transform .2s;
}

.linkedin-icon.mobile {
  height: 90px;
  width: 90px;
}

.gmail-icon {
  height: 160px;
  width: 250px;
  transition: transform .2s;
}

.gmail-icon.mobile {
  height: 90px;
  width: 160px;
}

.github-icon:hover {
  transform: scale(1.05);
}

.linkedin-icon:hover {
  transform: scale(1.05);
}

.gmail-icon:hover {
  transform: scale(1.05);
}

.seperator {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.seperator.mobile {
  margin-top: 50px;
}

.seperator-line-left {
  border-bottom: 1px solid #bbb;
  min-width: 38%;
  box-shadow: 0px 2px 0px 0px rgba(186,182,186,1);
  margin-left: 20px;
  margin-bottom: 15px;
}

.seperator-line-left.mobile {
  margin-left: 10px;
  margin-right: 10px;
}

.seperator-line-right {
  border-bottom: 1px solid #bbb;
  min-width: 38%;
  box-shadow: 0px 2px 0px 0px rgba(186,182,186,1);
  margin-right: 20px;
  margin-bottom: 15px;
}

.seperator-line-right.mobile {
  margin-left: 10px;
  margin-right: 10px;
}

.seperator-title {
  margin-top: 0;
  margin-bottom: 3px;
  color: #636262;
}

.seperator-title.mobile {
  width: fit-content;
  font-size: 18px;
  white-space: nowrap;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
