html {
  overflow: scroll;
  /* height: 100%; */
}

body {
  margin: 0;
  font-family: Helvetica;
  height: 100%;
}

.header {
  position: absolute;
  width: 100%;
  background-color: #6ea0eb;
  height: 140px;
  padding: 0;
  margin-bottom: 5px;
  box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);
  z-index: 999;
  letter-spacing: 1px;
}

.sticky {
  width: 100%;
  position: fixed;
  background-color: #6ea0eb;
  height: 50px;
  padding: 0;
  margin-bottom: 50px;
  box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);
  z-index: 999;
  letter-spacing: 1px;
}

.header-content {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 1px;
}

.header-img {
  width: 160px;
  margin-bottom: 15px;
}

.header-title {
  font-size: 14px;
  display: flex;
  flex-direction: row;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 110px;
  text-decoration: none;
  color: #f7f1f0;
  border-radius: 3px;
}

.active {
  color: #f7f1f0;
}

.disabled {
  display: none;
}

.nav-item:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 110px;
  text-decoration: none;
  color: white;
  background-color: #d6735a;
}

.nav-item-text {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-item-bracket {
  font-size: 20px;
  color: #962d1b;
  font-weight: 800;
}

.body {
  overflow-x: hidden;
  background-color: #fffcfd;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.content {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 140px;
  height: 100%;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: calc(100vh - 180px);
  min-height: 500px;
  margin-bottom: 10px;
}

.about-tiles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 35%;
  padding-left: 200px;
  padding-right: 200px;
}

.about-tile {
  position: relative;
  transition: transform .2s;
  height: 180px;
  width: 200px;
  box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);
  overflow: hidden;
}

.about-tile-title {
  text-align: center;
  position: absolute;
  top: 50%;
  right: 28%;
  color: #330b08;
  letter-spacing: 2px;
  width: 100px;
  font-weight: 600;
}

.about-tile:hover {
  transform: scale(1.05);
}

.about-content {
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content-item-title {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.about-content-item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.about-content-item-header {
  height: 33px;
  background-color: #403e3e;
  border-radius: 7px 7px 0 0;
  border-bottom: 1px solid #8c8787;
  text-align: center;
}

.about-content-item-text {
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
}

.about-tile-img {
  height: 110%;
  width: 100%;
  opacity: .3;
}

.about-content-item {
  display: flex;
  width: 600px;
  height: fit-content;
  box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);
  flex-direction: column;
}

.about-content-item-img {
  height: 150px;
  width: 150px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);
}

.tech-container {
  height: calc(100vh - 140px);
  /* width: 100%; */
}

.thumbnail-container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail-img {
  width: 75px;
  margin-left: 20px;
}

.animated-container {

}

.animated-slideshow {
  background-color: #f7f7f7;
  height: 400px;
  min-height: 400px;
  width: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: -5px 5px 15px -9px rgba(0,0,0,0.75);
  overflow: hidden;
  /* border-radius: 0 0 0 0; */
}

.animated-heading {
  text-align: center;
  height: 50px;
  background-color: #403e3e;
  width: 1000px;
  border-radius: 10px 0 0 0;
  box-shadow: -5px 0px 11px -4px rgba(0,0,0,0.75);
}

.animated-heading-title {
  font-size: 20px;
  color: #f7f2f2;
  letter-spacing: 1px;
  font-weight: 400;
}

.img-slideshow {
  width: 450px;
}

.cv-container {
  display: flex;
  flex-direction: row;
}

.cv-image-large {
  height: 950px;
  width: 750px;
  box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);
  margin-right: 20px;
}

.cv-image-small {
  height: 400px;
  width: 250px;
  box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);
}

.links {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 400px;
  padding-right: 400px;
}

.link {
  display: flex;
  justify-content: center;
  width: 33%;

}

.github-icon {
  border-radius: 10px;
  width: 130px;
  transition: transform .2s;
}

.linkedin-icon {
  width: 140px;
  transition: transform .2s;
}

.gmail-icon {
  width: 250px;
  transition: transform .2s;
}

.github-icon:hover {
  border-radius: 10px;
  width: 130px;
  transform: scale(1.05);
}

.linkedin-icon:hover {
  width: 140px;
  transform: scale(1.05);
}

.gmail-icon:hover {
  width: 250px;
  transform: scale(1.05);
}

.seperator {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.seperator-line-left {
  border-bottom: 1px solid #bbb;
  width: 42%;
  box-shadow: 0px 2px 0px 0px rgba(186,182,186,1);
  margin-left: 20px;
  margin-bottom: 15px;
}

.seperator-line-right {
  border-bottom: 1px solid #bbb;
  width: 42%;
  box-shadow: 0px 2px 0px 0px rgba(186,182,186,1);
  margin-right: 20px;
  margin-bottom: 15px;
}

.seperator-title {
  margin: 0;
  color: #636262;
}

/* ------------------------------------ Mobile ----------------------------------------------- */

.about-text-mobile {
  font-size: 12px;
  font-weight: 300;
  color: #636262;
  margin-right: 30px;
  margin-left: 30px;
  letter-spacing: 1px;
  margin-top: 0;
}

.about-img-mobile {
  width: 120px;
  height: 140px;
  border-radius: 10px;
  box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);
  margin-left: 30px;
  margin-bottom: 20px;
}

.header-img-mobile {
  width: 150px;
  margin-bottom: 15px;
}

.header-title-mobile {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  color: #dddce8;
}

.nav-item-mobile {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;
  text-decoration: none;
  color: #dddce8;
  border-radius: 3px;
}

.content-mobile {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(186,182,186,1);
  width: 100%;
  margin-top: 140px;
}

.about-top-mobile {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.about-middle-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.about-bottom-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.code-text-mobile {
  width: 80%;
  font-family: monospace;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid #fffafb;
  border-radius: 7px;
  background-color: #434547;
  font-size: 12px;
  font-weight: 300;
  color: #f2f4f7;
  min-width: 300px;
  max-width: 6000px;
  min-height: 40px;
  box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);
  transition: transform .2s;
}

.about-img-mobile {
  width: 80px;
  height: 80px;
}

/* .code-text-mobile:hover {
  transform: scale(1.03);
} */

.thumbnail-container-mobile {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail-img-mobile {
  width: 50px;
  margin-left: 10px;
}

.animated-heading-mobile {
  font-size: 12px;
  color: #636262;
  letter-spacing: 1px;
  font-weight: 400;
}

.img-slideshow-mobile {
  width: 250px;
}

.cv-container-mobile {
  display: flex;
  flex-direction: column;
}

.cv-image-large-mobile {
  display: none;
  height: 850px;
  width: 650px;
  box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);
  margin-right: 20px;
}

.cv-image-small-mobile {
  height: 600px;
  width: 100%;
  box-shadow: 0px 0px 5px -4px rgba(0,0,0,0.75);
}

.expo-title-mobile {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  color: #636262;
}

.expo-text-mobile {
  font-size: 12px;
  font-weight: 300;
  color: #636262;
  letter-spacing: 1px;
  margin-right: 30px;
  margin-left: 30px;
}

.expo-caption-mobile {
  font-size: 10px;
  font-weight: 300;
  width: 200px;
  color: #636262;
  letter-spacing: 1px;
}

.expo-image-mobile {
  width: 300px;
  box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);
  border-radius: 5px;
}

.links-mobile {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  align-items: center;
}

.link-mobile {

}

.github-icon-mobile {
  width: 100px;
  border-radius: 10px;
}

.linkedin-icon-mobile {
  width: 180px;
}

.gmail-icon-mobile {
  width: 140px;
}

.seperator-mobile {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.seperator-line-left-mobile {
  border-bottom: 1px solid #bbb;
  width: 30%;
  box-shadow: 0px 2px 0px 0px rgba(186,182,186,1);
  margin-left: 20px;
  margin-bottom: 15px;
}

.seperator-line-right-mobile {
  border-bottom: 1px solid #bbb;
  width: 30%;
  box-shadow: 0px 2px 0px 0px rgba(186,182,186,1);
  margin-right: 20px;
  margin-bottom: 15px;
}

.seperator-title-mobile {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 0;
  color: #636262;
  font-size: 16px;
}
