.body {
  background-color: #fcfcfc;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.email {
  width: 400px;
  font-weight: 500;
  font-size: 18px;
  color: #636262;
}

.github-icon {
  width: 80px;
}

.linkedin-icon {
  margin-left: -100px;
  width: 200px;
}

.gmail-icon {
  width: 140px;
}

.link {
  display: flex;
  align-items: center;
  width: 100px;
  margin-left: 60px;
}

.links {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.content {
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(186,182,186,1);
  width: 800px;
  height: 100%;
  margin-top: 140px;
}
