.body {
  overflow: hidden;
  background-color: #fcfcfc;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.email {
  width: 400px;
  font-weight: 500;
  font-size: 18px;
  color: #636262;
}

.github-icon {
  width: 100px;
}

.linkedin-icon {
  width: 180px;
}

.gmail-icon {
  margin-right: 20px;
  width: 160px;
}

.github-icon-mobile {
  margin-right: 10px;
  width: 60px;
}

.linkedin-icon-mobile {
  width: 110px;
}

.gmail-icon-mobile {
  margin-right: 20px;
  width: 100px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.content-desktop {
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(186,182,186,1);
  width: 800px;
  height: 100%;
  margin-top: 140px;
}

.content-mobile {
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(186,182,186,1);
  width: 100%;
  height: 100%;
  margin-top: 140px;
}
