.header {
  background-color: #518eba;
  height: 140px;
  padding: 0;
  margin-bottom: 10px;
  box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);
}

.details {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 1px;
}

.name {
  font-size: 26px;
  font-weight: 500;
  margin: 0;
  color: white;
  margin-bottom: 5px;
}

.title {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  color: white;
}

.nav-bar {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 110px;
  text-decoration: none;
  color: white;
}

.active {
  background-color: #345d7a;
}
