{{page-header
  header=header}}
<body local-class="body">
  <div local-class="{{if isMobile "content-mobile" "content-desktop"}}">
    <h1 local-class="header"> DCU Final Year Project Expo </h1>
    <p local-class="text">
      Shane was awarded "Most Innovative Project" at DCU's 2017 final year project expo.
      His project was a wearable technology navigation system for cyclists consisting
      of an android app and an arduino which was fitted to a helmet, using a light system
      to direct the cyclist to their destination.
      Shane received first class honours for the project as well as a new Ipad.
    </p>
    <img local-class="image" src="images/openet.jpeg">
    <p local-class="caption">
      Shane being presented with an Ipad by the CEO of Openet, Joe Hogan.
    </p>
  </div>
</body>
