{{page-header
  header=header}}
<body local-class="body">
  <div local-class="{{if isMobile "content-mobile" "content-desktop"}}">
     <img local-class="image" src="images/cv1.jpg" width="800px" height="1000px" />
     <img local-class="image" src="images/cv2.jpg" width="800px" height="1000px" />
  </div>
</body>
