{{page-header
  header=this.header}}
<div local-class="body">
  <div local-class="{{if this.isMobile "content-mobile" "content-desktop"}}">
    <p local-class="text">
      Shane is a freelance software developer from Dublin who has experience working in frontend,
      android, and desktop development. His main languages are java and javascript, and uses the
      Ember javascript framework for frontend work.
      He graduated from DCU in 2017 with a 2.1 and worked in both frontend and backend development
      in industry.<br>
      Shane has experience in both small and large companies having worked in a local Irish business
      with a startup feel, a large insurance company, and also one of the biggest banks in the world.

      <br><br>
    </p>
  </div>
</div>
